@import './master.css';

body {
    margin: 100px 0 100px 0;
}

header {
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    font-weight: 400;
    background-color: #42A5F5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

footer {
    background-color: #42A5F5;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.24);
}

header > div,
header > div::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

header > div::before {
    content: '';
}

.manipulation {
    background: #A1EB88;
}
.graph {
    background: #E7AAF6
}
.results {
    background: #F7F467
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.graph {
    flex: 1;
    width: 50%;
}

.results, .manipulation {
    order: -1;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 741px){
    .results, .manipulation, .graph {
        height: auto;
        width: 100%;
        flex: auto;
    }
}